#top-navbar {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
   
}
#top-right-nav {
    float: right;

}

.no-bullets {
    margin: 0px;
    padding: 0px;
   
}
.no-bullets li {
    list-style-type: none;
    display: inline;
                  
    }
#velikost-slike {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
#bottom-navbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #2222;
    
}
#center {
    height: 200px;
    width: 480px;
    margin: 10% auto;
    padding: 30px;
    text-align: center;
    
}
#boogle {
    margin: auto;
    height: 200px;
    font-size: 96px;
    font-family: 'Open Sans', sans-serif;
    
}


#slovenija {
    font-size: 20px;
    position: relative;
    left: 110px;
    top: -20px;
    white-space: nowrap;
    font-family: sans-serif;
    font-weight: 300;
}
#vpisno-okno {
    width: 600px;
    height: 40px;
    border: 1px solid blue;
    color: darkgray;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    left: -50px;
    top: -50px;
    margin: auto;
    padding-left: 10px;
}
button {
    display: inline-block;
    margin: 30px 10px 10px 10px;
    border-radius: 3px;
    height: 30px;
}
.modra {
    color: blue;
}
.rdeca {
    color: red;
}
.rumena {
    color: yellow;
}
.zelena {
    color: green;
}
a {
     text-decoration: none;
     font-family: sans-serif;
}